.article{
    border: 1px solid black;
    background-color: ivory;
    margin-bottom: 0.25rem;
    padding: 0.5rem;
}

.article_title{
    margin-bottom: 0.25rem;
    width: 600px;
    height: 20px;
    font-weight: bold;
}

.article_content{
    width: 550px;
    height: 40px;
    font-size: 0.8rem;
}

.article_title > a > span {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.article_content > a > span {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

#news_title {
    display: inline-flex;
}